<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="Copyright" content="酷站代码 http://www.5icool.org/" />
<style>
body { background: #ffffff; color: #444; font-size:12px;}
a { color: #07c; text-decoration: none; border: 0; background-color: transparent; }
body, div, q, iframe, form, h5 { margin: 0; padding: 0; }
img, fieldset { border: none 0; }
body, td, textarea { word-break: break-all; word-wrap: break-word; line-height:1.6; }
body, input, textarea, select, button { margin: 0; font-size: 14px; font-family: Tahoma, SimSun, sans-serif; }
div, p, table, th, td { font-size:1em; font-family:inherit; line-height:inherit; }
h5 { font-size:12px; }
ol li,ul li{ margin-bottom:0.5em;}
pre, code { font-family: "Courier New", Courier, monospace; word-wrap:break-word; line-height:1.4; font-size:12px;}
pre{background:#f6f6f6; border:#eee solid 1px; margin:1em 0.5em; padding:0.5em 1em;}
#content { padding-left:50px; padding-right:50px; }
#content h2 { font-size:20px; color:#069; padding-top:8px; margin-bottom:8px; }
#content h3 { margin:8px 0; font-size:14px; COLOR:#693; }
#content h4 { margin:8px 0; font-size:16px; COLOR:#690; }
#content div.item { margin-top:10px; margin-bottom:10px; border:#eee solid 4px; padding:10px; }
#content div.item input#a001{width:81px; height:81px;background:url('../images/bgwch2.png');}
#content div.item input#a002{width:81px; height:81px;background:url('../images/bgwch2.png');}
hr { clear:both; margin:7px 0; +margin: 0;
border:0 none; font-size: 1px; line-height:1px; color: #069; background-color:#069; height: 1px; }
.infobar { background:#fff9e3; border:1px solid #fadc80; color:#743e04; }
.buttonStyle{width:64px;height:22px;line-height:22px;color:#369;text-align:center;background:url(images/buticon.gif) no-repeat left top;border:0;font-size:12px;}
.buttonStyle:hover{background:url(images/buticon.gif) no-repeat left -23px;}
#donate {
    margin:0px;
   
    float:left;
	background-image: url('../images/bgwch2.png'); background-size: 800px 500px; background-repeat: no-repeat;
}

#donate label {
    float:left;
    width:50px;
	height: 50px;
    margin:0px;
    background-color:#EFEFEF;
	opacity: 0.2;
    border-radius:0px;
    border:0px solid #D0D0D0;
    overflow:auto;
       
}

#donate label span {
    text-align:center;
    font-size: 12px;
    padding:25px 0px;
    display:block;
}

#donate label input {
    position:absolute;
    top:-20px;
}

#donate input:checked + span {
    background-color:red;
    color:#F7F7F7;
}
</style>
<script type="text/javascript" src="../static/js/zDrag.js"></script>
<script type="text/javascript" src="../static/js/zDialog.js"></script>
<script type="text/javascript">
function open1()
{	var diag = new Dialog();
	diag.Width = 817;
	diag.Height = 400;
	diag.Title = "Please select a pokemon";
	diag.InvokeElementId="donate";
	diag.OKEvent = function(){  var rate_value = document.querySelector('input[name="toggle"]:checked').value;
								var positionX = -(rate_value-1)*81.0625;
								var positionY = -parseInt((rate_value-1)/16)*81.0625;
								$id('a001').style.backgroundPosition = positionX+"px " +positionY +"px";
								
								diag.close();
							};
	diag.show();
	
}
function open2()
{	var diag = new Dialog();
	diag.Width = 817;
	diag.Height = 400;
	diag.Title = "Please select a pokemon";
	diag.InvokeElementId="donate";
	diag.OKEvent = function(){  var rate_value = document.querySelector('input[name="toggle"]:checked').value;
								var positionX = -(rate_value-1)*81.0625;
								var positionY = -parseInt((rate_value-1)/16)*81.0625;
								$id('a002').style.backgroundPosition = positionX+"px " +positionY +"px";
								
								diag.close();
							};
	diag.show();
	
}
</script>
</head>
<body>
<div id="content">
  <h3>1. 普通窗口 </h3>
  <div class="item">
    <input type="button" id="a001" value="" onclick="open1()" style="position: 100px 30px 50px 200px"/>
	<input type="button" id="a002" value="" onclick="open2()" style="position: 300px 30px 50px 200px"/>
    <br/>
</div>  
<div id="donate" style="display:none">
    <label class="blue"><input type="radio" name="toggle" value=1 ><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=2 ><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=3 ><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=4><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=5><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=6><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=7><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=8><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=9><span></span></label>
    <label class="purple"><input type="radio" name="toggle"  value=10><span></span></label>
	<label class="blue"><input type="radio" name="toggle"  value=11><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=12><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=13><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=14><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=15><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=16><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=17><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=18><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=19><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=20><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=21><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=22><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=23><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=24><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=25><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=26><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=27><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=28><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=29><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=30><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=31><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=32><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=33><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=34><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=35><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=36><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=37><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=38><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=39><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=40><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=41><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=42><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=43><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=44><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=45><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=46><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=47><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=48><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=49><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=50><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=51><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=52><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=53><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=54><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=55><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=56><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=57><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=58><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=59><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=60><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=61><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=62><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=63><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=64><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=65><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=66><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=67><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=68><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=69><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=70><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=71><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=72><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=73><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=74><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=75><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=76><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=77><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=78><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=79><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=80><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=81><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=82><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=83><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=84><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=85><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=86><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=87><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=88><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=89><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=90><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=91><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=92><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=93><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=94><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=95><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=96><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=97><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=98><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=99><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=100><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=101><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=102><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=103><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=104><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=105><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=106><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=107><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=108><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=109><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=110><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=111><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=112><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=113><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=114><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=115><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=116><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=117><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=118><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=119><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=120><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=121><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=122><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=123><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=124><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=125><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=126><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=127><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=128><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=129><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=130><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=131><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=132><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=133><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=134><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=135><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=136><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=137><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=138><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=139><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=140><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=141><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=142><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=143><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=144><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=145><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=146><span></span></label>
    <label class="green"><input type="radio" name="toggle" value=147><span></span></label>
    <label class="yellow"><input type="radio" name="toggle" value=148><span></span></label>
    <label class="pink"><input type="radio" name="toggle" value=149><span></span></label>
    <label class="purple"><input type="radio" name="toggle" value=150><span></span></label>
	<label class="blue"><input type="radio" name="toggle" value=151><span></span></label>
</div>

</body>
</html>