<!DOCTYPE html>
<title>PokemonGo</title>
<meta charset="utf-8">
<link href="/css/examples-offline.css" rel="stylesheet">
<link href="/css/kendo.common.min.css" rel="stylesheet">
<link href="/css/kendo.rtl.min.css" rel="stylesheet">
<link href="/css/kendo.default.min.css" rel="stylesheet">
<link href="/css/kendo.default.mobile.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/common.css" type="text/css"></link>
<script src="/js/jquery.min.js"></script>
<script src="/js/jszip.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/console.js"></script>
<nav id="main-nav" style="text-align:center;">
	<ol>
		<li></li>
	</ol>
</nav>
<div id="slide" style="text-align:center;">
	<span id="menu"><a href="#main-nav">&#8801;</a></span>
	<img src="http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/2016/07/15/pokemon-go-release-date-canada-japan-philippines-india-asia-brazil-how-play-when-will.jpg" style="width: auto; height: 300px; margin: 5 0 0 0;"><br>
	<a class="offline-button" href="dictionary">dictionary</a>
	<a class="offline-button" href="fight">Fight</a>
	<a class="offline-button" href="twitter">Twitter</a>
</div>
{% block body %}{% endblock %}

