{% extends "head.html" %}
{% block body %}

<script src="../static/js/pokemons.js"></script>

        <div id="example">
            <div id="grid"></div>

            <script>
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        dataSource: {
                            data: pokemons,
                            schema: {
                                model: {
                                    fields: {
                                        id: { type: "number" },
                                        Name: { type: "string" },
                                        Type_1: { type: "string" },
                                        Type_2: { type: "string" },
										Total: { type: "number" },
                                        HP: { type: "number" },
                                        Attack: { type: "number" },
                                        Defense: { type: "number" },
										Sp_Atk: { type: "number" },
                                        Sp_Def: { type: "number" },
                                        Speed: { type: "number" },
                                        Generation: { type: "number" },
										Legendary: { type: "boolean" },
                                    }
                                }
                            },
                            pageSize: 40
                        },
                        height: 700,
                        scrollable: true,
                        sortable: true,
                        filterable: true,
                        pageable: {
                            input: true,
                            numeric: false
                        },
                        columns: [
                            { field: "id", width:  "50px"},
                            { template: "<div class='customer-photo'" +
                                       "style='background-position:  #:-(id-1)*75#px #:-parseInt((id-1)/16)*75#px;'></div>" +
                                       "<div class='customer-name'>#: Name #</div>",
			      field: "Name",width: "200px"},
                            { field: "Type_1", width: "80px" },
                            { field: "Type_2", width: "80px" },
			    { field: "Total", width: "80px" },
                            { field: "HP", width: "80px" },
                            { field: "Attack", width: "80px" },
			    { field: "Defense", width: "80px" },
                            { field: "Sp_Atk", width: "80px" },
                            { field: "Sp_Def", width: "80px" },
			    { field: "Speed", width: "80px" },
                            { field: "Generation", width: "80px" },
                            { field: "Legendary", width: "80px" }
                        ]
                    });
                });
            </script>
</div>
<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-size: 1200px 750px;
		background-image: url(../static/css/images/bgwch2.png);
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

<div style="text-align:center;">
<p><a class="offline-button" href="" title="Python810" target="_blank">Python810</a></p>
</div>
    
{% endblock %}
